

.nav_links > li > a {
    text-decoration: none;
    color: black;
    padding: 0px 30px 0px 0px;
  }
  .nav_links li a {
    text-decoration: none;
    color: black;
  }
  .nav_links li {
    list-style: none;
    
  }
  .nav_links {
    display: inline-flex;
  }
  .nav_links li a:hover {
    color: gray;
  }
  .nav_links ul li a:hover {
    color: gray;
    text-decoration: underline;
  }
  .nav_links .drop_sale {
    top: 65px;
    line-height: 30px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  .drop_sale li a {
    width: 100%;
    display: block;
  }
  .nav_links li:hover .box_new,
  .nav_links li:hover .drop_sale {
    opacity: 1;
    visibility: visible;
  }
  .box_new {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    top: 40px;
    opacity: 0;
    visibility: hidden;
   background-color: white;
  }
  .box_new .content {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    padding-top: 0px;
  }
  .content .row {
    width: calc(25% - 30px);
    /* line-height: 30px; */
  }
  .content .row header {
    font-size: 16px;
    margin-top: 15px;
  }
  .content .row img {
    width: 400px;
    object-fit: cover;
    margin-left: -100px;
    margin-top: 10px;
  }
  .content .row img + p {
    margin-left: -100px;
    font-size: 14px;
  }
  .content .row img + p + p {
    margin-left: -100px;
    color: rgba(255, 0, 0, 0.813);
  }
  .content .row img + p + p + a {
    margin-left: -100px;
    text-decoration: underline;
  }

  .box_links {
    width: 100%;
    padding: 0px;
  }