.header{
  text-align: center;
  align-items: center;
}
.main_navbar{
  position: sticky;
  top: 0px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: white;
  padding: 1rem;
  
}
.nav_links > li > a {
    text-decoration: none;
    color: black;
    padding: 0px 30px 0px 0px;
  }
  .nav_links li a {
    text-decoration: none;
    color: black;
  }
  .nav_links li {
    list-style: none;
    
  }
  .nav_links {
    display: inline-flex;
  }
  .nav_links li a:hover {
    color: gray;
  }
  .nav_links ul li a:hover {
    color: gray;
    text-decoration: underline;
  }
  .nav_links .drop_sale {
    top: 65px;
    line-height: 30px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }
  .drop_sale li a {
    width: 100%;
    display: block;
  }
  .nav_links li:hover .box_new,
  .nav_links li:hover .drop_sale {
    opacity: 1;
    visibility: visible;
  }
  
  .box_new {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    top: 3rem;
    opacity: 0;
    visibility: hidden;
   background-color: white;
   padding: 0 11rem 0 12rem;
  }
  .box_new .content {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    padding-top: 0px;
    gap: 20px;
  }
  .content .row {
    width: calc(25% - 30px);
    line-height: 30px;
  }
  .content .row header {
    font-size: 16px;
    margin-top: 15px;
  }
  .box_links {
    width: 100%;
    padding: 0px;
    
  }

 